/* styly.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #444;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 15px;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 15px;
}

.navbar p {
    margin: 0;
}
