

/* ################################# TRACK ################################# */




.timetrackr_track_main_heading {
    font-size: 2.5em;
    color: #007BFF;  /* mění barvu písma na modrou */
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;

    font-family: 'Helvetica', 'Arial', sans-serif; /* mění font na něco modernějšího */
    letter-spacing: 1px; /* zvyšuje rozestupy mezi písmeny pro lepší čitelnost */
    
    transition: color 0.3s ease; /* přechod pro barvu textu */
}

/* efekt při najetí myši */
.timetrackr_track_main_heading:hover {
    color: #0056b3;
}



/* Styl pro titulní stránku TimeTrackr */
.timetrackr_track_active_heading {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Styl pro popis stránky TimeTrackr */
.timetrackr_track_description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Styl pro formulář TimeTrackr */
.timetrackr_track_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    align-items: baseline;
    max-width: 800px;
    align-content: stretch;
}


.timetrackr_track_form label {
    font-size: 1.2rem;
    color: #333;
}

.timetrackr_track_form select,
.timetrackr_track_form input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 20px;
}

.timetrackr_track_form button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.timetrackr_track_form button:hover {
    background-color: #448944;
}

/* Styl pro tabulku s aktivními záznamy o sledování času */
.timetrackr_track_active_title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

.timetrackr_track_active_table {
    width: 100%;
    border-collapse: collapse;
}

.timetrackr_track_active_table thead {
    background-color: #007BFF;
    color: #fff;
}

.timetrackr_track_active_table th, 
.timetrackr_track_active_table td {
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
}

.timetrackr_track_active_table .timetrackr_track_active_button_stop {
    padding: 0.5rem 1rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.timetrackr_track_active_table .timetrackr_track_active_button_stop:hover {
    background-color: #c82333;
}

/* Styl pro rychlá tlačítka */
.quick_buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.quick_buttons button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quick_buttons button:hover {
    background-color: #0056b3;
}








/* ################################# LIST ################################# */


/* Main Heading */
.timetrackr_list_heading {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Table styles */
.timetrackr_list_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.timetrackr_list_table th {
    background-color: #007BFF;
    color: #fff;
}

.timetrackr_list_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.timetrackr_list_table th, .timetrackr_list_table td {
    padding: 16px;
    text-align: center;
    border: 1px solid #ccc;
}

/* Form styles */
.timetrackr_list_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.timetrackr_list_form_delete {
    display: inline-block;
}

/* Input and select styles */
.timetrackr_list_input, .timetrackr_list_select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

/* Button styles */
.timetrackr_list_button_update, .timetrackr_list_button_delete {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.timetrackr_list_button_update {
    background-color: #007BFF;
    color: white;
}

.timetrackr_list_button_update:hover {
    background-color: #0056b3;
}

.timetrackr_list_button_delete {
    background-color: #f44336;
    color: white;
}

.timetrackr_list_button_delete:hover {
    background-color: #da190b;
}




/* ################################# PROJECTS ################################# */



/* Main Heading */
.timetrackr_projects_main_heading {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
.timetrackr_projects_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
}


.timetrackr_projects_label {
    margin-right: 10px;
}



.timetrackr_projects_input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.timetrackr_projects_button_create {
    padding: 5px 10px;
    color: #fff;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Subheading */
.timetrackr_projects_subheading {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Table styles */
.timetrackr_projects_table {
    width: 100%;
    border-collapse: collapse;
}



.timetrackr_projects_table th, .timetrackr_projects_table td {
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
}

.timetrackr_projects_table thead {
    background-color: #007BFF;
    color: #fff;
}

.timetrackr_projects_table_head {
    background-color: #f8f9fa;
}

.timetrackr_projects_table_row:nth-child(even) {
    background-color: #f2f2f2;
}

.timetrackr_projects_table_header, .timetrackr_projects_table_data {
    padding: 10px;
    text-align: left;
}

/* Button styles */
.timetrackr_projects_button_update {
    padding: 5px 10px;
    color: #fff;
    background-color: #0275d8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timetrackr_projects_button_delete {
    padding: 5px 10px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
